package components

templ Navigation() {
	<nav class="border-b py-3">
		<div class="container mx-auto flex justify-between">
			<div class="text-xl text-foreground">
				<a href="/" class="font-agrandirWidelight custom-bold">Rockstake <span class="text-sm"></span></a>
			</div>
			<div class="flex gap-4 items-center">
				<div>
					@ThemeSwitcher()
				</div>
			</div>
		</div>
	</nav>
}
